body{
    background-color: #121212;
    transition: 0.5s;
    font-family: gil;

}
#git{
  position: absolute;
  bottom:0.5vw;
  right:0.5vw;
  opacity: 0.3;
  width: 30px;
  cursor: pointer;
}
@font-face { font-family: Logo; src: url('./resources/Warheed-X3Grd.ttf') format('truetype'); }
@font-face { font-family: NF; src: url('./resources/Spantaran-GE2D.ttf') format('truetype'); }
#logo{
  position: absolute;
  font-family: Logo;
  width: 10rem;
  font-size: 2rem;
  margin: 0;
  color: rgb(255, 255, 255);
  top: 1vW;
  left: 1vw;
  padding: 3px;
}
#video-call-div{
position: absolute;
top: 0;
left:0;
width: 100vw;
height: 100vh;
display:none;
}
#login{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: #121212;
    position: absolute;
    margin: 0;
    width: 30vw;
    height: 60vh;
    right :35vw;
    bottom: 20vh;
}
#local-video{
    position: absolute;
    bottom: 12vh;
    left: 1vw;
    border-radius: 2vh;
    background-image: url("./resources/account_circle_white_48dp.svg");
    background-color: rgb(48, 48, 48);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 3vh;
    max-height: 20vh;
    max-width: 20vw;
}

#remote-video{
    
    background-image: url("./resources/account_circle_white_48dp.svg");
    background-color: #121212;
    background-repeat:no-repeat;
    background-size: 10vh;
    background-position: center center;
    width: 100vw;
    height: 90vh;
    
}
#muteaudio,#cam,#hangup,#chat,#screenshare{
  cursor: pointer;
  height: 5vh;
}
#chatbar{
  position: inherit;
  margin: 0;
  padding: 0;
  background-color: rgb(75, 75, 75);
  top: 0vh;
  right: 0vw;
  height: 100vh;
  width: 30vw;
  transition: 0.5s;
  display: none;
}
#boxy{
  position: absolute;
  top:25vh;
  width:5vh;
  height :5vh;
  background-color: rebeccapurple;
}
.call-action-div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2vw;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(48, 48, 48);
    transition: 0.5s;
}

#username-input,input[type=text]:focus{
height: 6vh;
width: 20vw;
transition: 0.5s;
border: 0;
border-radius: 5px;
outline: 0;
text-align: center;
background: #313131 url('./resources/fingerprint_white_36dp.svg') no-repeat right;
color: white;
font-size: 0.8rem;
}




.btn-grad {background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .btn-grad2 {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
 .btn-grad2{
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

 
 
 .btn-grad,.btn-grad2{
    width: 20vw;
    height: 8vh;
    font-size: 0.7rem;
    border-radius: 15vh;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
@media (max-width: 767px) {
  .btn-grad,.btn-grad2,#username-input {
     width:70%;
     font-size: 1rem;
  }
 
  #login{
    width: 90vw;
    left: 5vw;
    bottom: 10vh;
  }
  .call-action-div{
    justify-content: space-evenly;
  }
  #chatbar{
    top: 0vh;
    width: 100vw;
  }
}


#signin{
    font-size: 1.5rem;
    font-family:NF;
    color: #ffffff;
    left:47vw;
    outline:0;
    border: 0;
}

